# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/ruby/tags/
image: ruby:2.4

variables:
  GIT_SUBMODULE_STRATEGY: recursive

# This is a basic example for a gem or script which doesn't use
# services such as redis or postgres
before_script:
  - apt-get update -y
  - apt-get install -y \
      ghostscript \
      imagemagick \
      texlive \
      texlive-latex-extra \
      texlive-xetex \
      typst
  - ruby -v                                   # Print out ruby version for debugging
  # Uncomment next line if your rails app needs a JS runtime:
  # - apt-get update -q && apt-get install nodejs -yqq
  - gem install rake  --no-ri --no-rdoc    # Bundler is not installed with the image
  
pages:
  stage: deploy
  script:
  - rake rodhilton_site
  - rake latex_full
  - mkdir public
  - mkdir public/files
  - mv docs/rodhilton.com/* public
  - mv docs/resume_public.pdf public/files/resume.pdf
  artifacts:
    paths:
    - public
  only:
  - master