


*DS_Store

contact.yaml
public.yaml
resume*.md
qr_*.png
qr_*.txt
gemini_api_key.txt

.rake_tasks*


/docs/*
!/docs/index.html
!/docs/resume_public.md
!/docs/resume_public.html
!/docs/resume_short.md

