body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 700;
  color: #343a40;
  line-height: 1.2;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.subheading {
  font-weight: 500;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.1rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  .subheading {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  .subheading {
    font-size: 1.35rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
}

.skill-icons {
  font-size: 2.5em;
}

@media (min-width: 576px) {
  .skill-icons {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .skill-icons {
    font-size: 3.5em;
  }
}

@media (min-width: 992px) {
  .skill-icons {
    font-size: 4em;
  }
}

.social-icons a {
  margin: 0 0.5em 0 0;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

.resume-separator {
 background-size: cover; 
 -ms-background-size: cover;
 -o-background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-position: center center;
}

@media (min-width: 768px) {
  .resume-separator {
    background-attachment: fixed;
  }
}

.resume-header {
   background-size: cover; 
 -ms-background-size: cover;
 -o-background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-position: center center;
}

#about_separator {
 background-image: url(../img/rod.jpg);
}

#experience_separator {
 background-image: url(../img/denver2.jpg);
}

#education_separator {
 background-image: url(../img/ucdenver2.jpg);
}

#skills_separator {
 background-image: url(../img/programming.jpg);
}

#contact_separator {
 background-image: url(../img/contact.jpg);
}

img.icon {
  max-width: 150px;
  max-height: 150px;
}

#map iframe {
  width: 100%; 
  height: 425px;
  border:1px solid #ddd;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  section.resume-separator {
    min-height: 35vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (max-width: 768px) {
  section.resume-separator {
    min-height: 35vh;
  }

  img.icon {
    display: none;
  }

  #map {
    display: none;
  }
}

.bg-primary {
  background-color: #4786b2 !important;
}

.text-primary {
  color: #4786b2 !important;
}

a {
  color: #4786b2;
}

a:hover, a:focus, a:active {
  color: #33627f;
}
